body {
  /* background-color: black; */
}

.logo {
  height: 50px;
  margin-left: 40px;
}

/* Navigation  */

.logo {
  height: 50px;
  margin-left: 40px;
}

li,
a,
#navbutton {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10px;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.logo {
  cursor: pointer;
  margin-right: auto;
}

.navlinks {
  list-style: none;
}

.navlinks li {
  display: inline-block;
  padding: 0px 40px;
}

.navlinks li a {
  transition: all 0.3s ease 0s;
}

.navlinks li a:hover {
  color: rgb(0, 122, 194);
}

#navbutton {
  padding: 9px 25px;
  background-color: rgba(0, 122, 194, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-right: 30px;
}

#navbutton:hover {
  background-color: rgba(0, 122, 194, 0.8);
}

/* Button  */
.mainbutton {
  position: relative;
  height: 50px;
  width: 180px;
  margin: 50px 35px;
  border-radius: 50px;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.mainbutton:first-child:hover {
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
}

.mainbutton:last-child:hover {
  background: linear-gradient(90deg, #fa7199, #f5ce62, #e43603, #fa7199);
  background-size: 400%;
}

.mainbutton:first-child::before,
.mainbutton:last-child::before {
  content: "";
  position: absolute;
  background: inherit;
  top: -5px;
  right: -5px;
  left: -5px;
  bottom: -5px;
  border-radius: 50px;
  filter: blur(20px);
  opacity: 0;
  transition: opacity 0.5s;
}

.mainbutton:first-child:hover::before,
.mainbutton:last-child:hover::before {
  opacity: 1;
  z-index: -1;
}

.mainbutton:hover {
  z-index: 1;
  animation: glow 8s linear infinite;
}

@keyframes glow {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

h1 {
  font-size: 40px;
  letter-spacing: 25px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #ffbb00;
}

.txt {
  font-size: 20px;
  color: #ffbb00;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 25px;
  line-height: 30px;
}

div.div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

div#center {

  width: 600px;
  margin-right: 100px;
}

/* div#center {
  border: 1px red solid;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 140px;
  left: 1200px;
  width: 600px;
}



#center h1 {
  border: 1px red solid;
  height: 100px;
  width: 600px;
}

#center p {
  border: 1px red solid;
  height: 400px;
  width: 600px;
}

#center .button {
  border: 1px red solid;
  height: 400px;
  width: 600px;
} */

#asdasd img {
  width: 100%;
  height: 100%;
}

ul.bxslider {
  font-size: 0;
}