/* Index page */

/* ↓ Navigation  Beginning*/
.logo {
  height: 50px;
  margin-left: 40px;
}

li,
a,
#navbutton {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10px;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.logo {
  cursor: pointer;
  margin-right: auto;
}

.navlinks {
  list-style: none;
}

.navlinks li {
  display: inline-block;
  padding: 0px 40px;
}

.navlinks li a {
  transition: all 0.3s ease 0s;
}

.navlinks li a:hover {
  color: rgb(0, 122, 194);
}

#navbutton {
  padding: 9px 25px;
  background-color: rgba(0, 122, 194, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-right: 30px;
}

#navbutton:hover {
  background-color: rgba(0, 122, 194, 0.8);
}

/* ↑ Navigation  End*/

/* ↓ Button Beginning */
.mainbutton {
  position: relative;
  height: 50px;
  width: 180px;
  margin: 50px 35px;
  border-radius: 50px;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.mainbutton:first-child:hover {
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
}

.mainbutton:last-child:hover {
  background: linear-gradient(90deg, #fa7199, #f5ce62, #e43603, #fa7199);
  background-size: 400%;
}

.mainbutton:first-child::before,
.mainbutton:last-child::before {
  content: "";
  position: absolute;
  background: inherit;
  top: -5px;
  right: -5px;
  left: -5px;
  bottom: -5px;
  border-radius: 50px;
  filter: blur(20px);
  opacity: 0;
  transition: opacity 0.5s;
}

.mainbutton:first-child:hover::before,
.mainbutton:last-child:hover::before {
  opacity: 1;
  z-index: -1;
}

.mainbutton:hover {
  z-index: 1;
  animation: glow 8s linear infinite;
}

@keyframes glow {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

/* ↑ Button End */

h1 {
  font-size: 40px;
  letter-spacing: 25px;
  font-family: "PT Serif", serif;
  color: #ffbb00;
}

.txt {
  font-size: 20px;
  color: #ffbb00;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 30px;
}

div.div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

div#center {
  width: 600px;
  /* margin-right: 50px; */
  position: absolute;
  right: 70px;
}

#center h1 {
  margin: 50px 0;
}

/* ↑ Index page End */

/* ↓ cast page */

#videoBG {
  width: 100%;
  position: absolute;
  top: 70px;
  z-index: -1;
}

#castmain {
  margin: 0 auto;
  padding: 50px;
  /* border: 1px red solid; */
  width: 1100px;
  color: #fff;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#castmain h2 {
  /* border: 1px red solid; */
  width: 730px;
  height: 100px;
  text-align: center;
  font-size: 30px;
  color: #ffbb00;
  font-family: "PT Serif", serif;
  letter-spacing: 2px;
}

#castmain h3 {
  /* border: 1px red solid; */
  color: #ffbb00;
  width: 400px;
  margin: 60px 0px;
  font-size: 40px;

  font-family: "PT Serif", serif;
}

#castmain p {
  font-size: large;
  width: 530px;
  height: 100px;
  text-align: center;
  margin: 0 auto;
  line-height: 25px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#castmain img {
  height: 200px;
}

#castmain section {
  margin-top: 30px;
  margin-bottom: 140px;
}

.cop,
.cop2,
.cop3,
.cop4,
.cop5 {
  display: flex;
}

.list-mv01 {
  transition: 0.8s;
  opacity: 0;
  transform: translate(0, 60px);
  -webkit-transform: translate(0, 60px);
}

.mv01 {
  opacity: 1;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}

/* ↑ cast page End*/

/* ↓ Watch Now Page*/

#watchnow {
  width: 100%;
  position: absolute;
  top: 70px;
  z-index: -1;
}

/* 
@media (min-a:16/9) {
  #watchnow {
    width: 100%;
    height: auto;
  }
}


@media(max-aspect-ratio:16/9) {
  #watchnow {
    width: auto;
    height: 100%;
  }
} */

/* ↑ Watch Now Page End*/

/* ↓ Introduction page */

#introductionmain {
  width: 1100px;
  /* border: 1px red solid; */
  margin: 70px auto;
}

.about {
  display: flex;
}

.about h3 {
  color: #ffbb00;
  font-size: 40px;
  font-family: "PT Serif", serif;
  margin-bottom: 50px;
  letter-spacing: 5px;
}

.about p {
  color: #fff;
}
.aboutphoto {
  /* border: 1px red solid; */
  width: 340px;
}
.aboutphoto img {
  margin: 0 auto;
  display: block;
}

.abouttxt {
  /* border: 1px red solid; */
  width: 640px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 30px;
}
