* {
    margin: 0;
    padding: 0;
    border: 1px red solid;
}

.logo {
    height: 50px;
    margin-left: 40px;
}

#asdasd img {
    width: 100%;
    height: 100%;
}



ul.bxslider {
    font-size: 0;
}